page-wine-detail {
    [class^="icon-"], [class*="icon-"] {
        font-size: 1.4em;
        color: map-get($map: $colors, $key: secondary-dark);
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
}
